<div data-ng-controller="chatBoxCtrl" data-ng-init="updateFilter(); autojoinRoom();getInq();" >

    <div class="col-md-8 conversation">
        <div id="mmmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Past inquiries</h4>
                    </div>

                    <div class="modal-body" >
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp " align="center">

                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">
                                        #
                                    </th>

                                    <th class="mdl-data-table__cell--non-numeric">
                                        Inquiry Title
                                    </th>

                                    <th class="mdl-data-table__cell--non-numeric">
                                        # of bearings requested
                                    </th>

                                    <th class="mdl-data-table__cell--non-numeric">
                                        # of quotes sent
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="y in allInq|inqFilter:currentInq.inquiryOwner track by $index">
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{$index+1}}
                                    </td>

                                    <td class="mdl-data-table__cell--non-numeric">
                                        <a target="_blank" href="#!/home/inbox/chat/{{y.inquiryID}}">{{y.inquiryName}}</a>
                                    </td>

                                    <td>
                                        {{y.bearings.length}}
                                    </td>

                                    <td>
                                        <p ng-show="y.quotations == undefined">0</p>
                                        <p ng-show="y.quotations.length>0">{{y.quotations.length}}</p>
                                    </td>


                                </tr>

                            </tbody>




                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>

        <!-- <div style="background-color:#F5F5F5">
            <md-toolbar md-scroll-shrink="">
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Inquiry title:  {{currentInq.inquiryName}}</span>
                    </h3>
                </div>
            </md-toolbar>

            <md-card  md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            {{currentUser.name}}
                            <md-button class="md-raised md-primary" data-toggle="modal" data-target="#mmmodal">Details</md-button>
                        </span>

                        <span class="md-subhead">
                            <p>
                                {{currentUser.email}} <br>
                            </p>
                        </span>
                    </md-card-title-text>

                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img class="image" ng-click="view()" ng-src="http://img.clipartall.com/user-image-user-clipart-276_298.png" alt="user picture"/>
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div> -->

        <div id="convo" data-ng-model="convo" class="row">
            <div class="col-md-12">
                <div data-ng-repeat="msg in messages |filter: filterR track by $index">
                    <div ng-show="msg.messageUser!='admin'">
                        <div class="bubble you">
                            {{msg.messageText}}
                        </div>
                    </div>

                    <div ng-show="msg.messageUser=='admin'">
                        <div class="bubble me">
                            {{msg.messageText}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="sMsg">
            <form ng-submit="sendMessage2()">

                <!-- <div class="row">
                    <div class="col-md-12" style="background-color:#F5F5F5">
                        <md-input-container class="md-block" flex-gt-sm>
                              <label>Your message</label>
                              <input ng-model="user.firstName">
                            </md-input-container>
                    </div>
                </div> -->

                <div class="row col-md-12">

                    <!-- <div class="container">
                      <div class="row">
                        <div class="col-md-10">
                            <p class="lead emoji-picker-container">
                              <input class="form-control" placeholder="Type a message" data-ng-click="updateRead()" type="text" data-ng-model="inputMessage" data-emojiable="true"/>
                            </p>
                        </div>
                      </div>
                    </div> -->

                    <input class="form-control col-md-10" placeholder="Type a message" data-ng-click="updateRead()" type="text" data-ng-model="inputMessage"/>


                    <!-- <textarea class="form-control col-md-10" rows="3" placeholder="Type a message" data-ng-click="updateRead()" data-ng-model="inputMessage" data-emojiable="true"></textarea> -->

                    <!-- <input class="form-control col-md-10" placeholder="Type a message" data-ng-click="updateRead()" type="text" data-emojiable="true" data-ng-model="inputMessage"/> -->
                    <button class="btn btn-primary" data-ng-model="inputMessage">Send message</button>


                </div>



                <!-- <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input data-ng-click="updateRead()" type="text" data-ng-model="inputMessage"/>
                    <a href="javascript:;" class="write-link smiley"></a>
                    <a href="javascript:;" class="write-link send"></a>

                </div> -->

            </form>
        </div>
    </div>


</div>

<script>
  $(function() {
    // Initializes and creates emoji set from sprite sheet
    window.emojiPicker = new EmojiPicker({
      emojiable_selector: '[data-emojiable=true]',
      assetsPath: '/img/',
      popupButtonClasses: 'fa fa-smile-o'
    });
    // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
    // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
    // It can be called as many times as necessary; previously converted input fields will not be converted again
    window.emojiPicker.discover();
  });
</script>

<!-- <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div> -->
